@model LibraryMVC.Models.LibraryBook

@{
    ViewData["Title"] = "Silme";
}

<h1>Silme</h1>

<h3>Bu kaydı silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Kütüphane Kitapları</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cabinet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cabinet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shelf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shelf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Library)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Library.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.ISBN)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ISBN" />
        <input type="hidden" asp-for="LibraryId" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>
